*{
    padding: 0;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
    color: #2372d9;
}
a:hover{
    text-decoration: none;
    color: #2372d9;
}
img{
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    background-color: #0e1012;
}
.bg-lightgray{
    background-color: #171a1c;
}
.text-lightgray{
    color: #171a1c;
}
header{
   margin-top: 50px;
   text-align: center;
}
header img{
    max-width: 150px;
}
header h1{
    color: #fff !important;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
header h3{
    color: #fff !important;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}